<li class="list-group-item">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">100%</span>
    </div>
    <input type="text" disabled class="form-control" value="{{fileName}}" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <div class="btn-group btn-sm" role="group" aria-label="Basic example">
        <a href={{url}} download class="btn btn-primary"><span class="fa fa-download"></span>
          {{size/1048576 | number:'1.0-2'}} MB</a>
        <button type="button" (click)="open(url)" class="btn btn-secondary">Play</button>
        <button type="button" class="btn btn-secondary">Delete</button>
      </div>
    </div>
  </div>
</li>