<p class="text-center text-white"><a href="https://blazor.downloadtodrive.com/">click here to try the upcoming blazor version of d2d</a></p>
<ul class="list-group" style="height: 100vh !important">  
  <li class="list-group-item" style="border-style:none !important; background-color: transparent !important">
    <app-download-item *ngFor="let item of filesInStorage; let i = index"
                       _fileName="{{item.fileName}}"
                       _url="{{item.storageUrl}}"
                       _size="{{item.size}}">
    </app-download-item>
  </li>
</ul>

