<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#" (click)="getFilesInStorage()">refresh</a>
    </li>
  </ul>      
</div>
<div class="card-columns">
  <div class="card" *ngFor="let item of filesInStorage; let i = index">
    <div class="card-body text-center">
      <h5 class="card-title">{{item.fileName}}</h5>
      <p class="card-text">size: {{item.size/1048576}} MB</p>
      <a href='{{item.url}' download class="btn btn-primary">download</a>
</div>
</div>
 