<form>
  {{errorMessage}}
  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Link</span>
      </div>
      <input type="url" name="downloadLinkInput" class="form-control form-control-dark" id="downloadLinkInput"
        [(ngModel)]='downloadLink' placeholder="url to download" />
      <div class="input-group-append">
        <select class="form-control" id="qualityInput" name="qualityInput" [(ngModel)]="selectedDownloadMode" required>
          <option *ngFor="let item of downloadModeList">
            {{item}}
          </option>
        </select>
      </div>
      <div class="input-group-append">
        <button type="submit" (click)="download()" class="btn btn-primary COL-SM-2">download</button>
      </div>
    </div>
  </div>        
</form>
 <form>   
  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <a href="" download class="btn btn-primary">
          https://www.youtube.com/watch?v=ygVX1z6tDGI
        </a>
      </div>        
      <ngb-progressbar class="form-control" type="success" [value]="25"></ngb-progressbar>
      <div class="input-group-append">
        <button type="submit" class="btn btn-secondary"> 15 %</button>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-inverse">
      </thead>
      <tbody>
        <tr *ngFor="let item of downloadResult.youtubeDirectVideoLinks; let i = index">
          <td>{{i}}</td>
          <td>{{item.title}}</td>
          <td>{{item.videoExtension}}</td>
          <td>
            <a href="{{item.downloadUrl}}" download> direct download</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>