<div>
<form>
  {{errorMessage}}
  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><span class="fa fa-youtube"></span></span>
      </div>
      <input type="url" name="downloadLinkInput" required placeholder="" class="form-control form-control-dark" id="downloadLinkInput"
        [(ngModel)]='downloadLink' />
      <div class="input-group-append">
        <button type="submit" (click)="download()" class="btn btn-default COL-SM-2" style="background-color: #43425D; color: #ffffff" [disabled]="downloadInProgress">
        <span *ngIf="downloadInProgress" class="fa fa-spinner fa-spin">
          </span>
            download
        </button>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <ul class="list-group" *ngIf="downloadResult" style="width:100% !important;" ng>
    <li class="list-group-item" style="border-style:none !important; padding:0% !important">
      {{downloadResult.title}}{{downloadResult.fileExtension}}
      <div class="btn-group pull-right" role="group">        
        <span>{{downloadResult.resolution}} p</span>             
        <a href="{{downloadResult.storageUrl}}" download class="btn btn-sm btn-primary"><span class="fa fa-cloud-download"></span></a>
        <a href="{{downloadResult.uri}}" download class="btn btn-sm btn-primary"><span class="fa fa-download"></span></a>
      </div>
    </li>    
  </ul>
</div>
</div>