<div class="row" style="height: 100vh !important">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card-body">
      <h4 class="card-title">login</h4>      
      <form>
        <div class="form-group">
          <label for="loginuserNameInput">Username</label>
          <input type="text" class="form-control" id="loginuserNameInput" name="loginuserNameInput" aria-describedby="userNameHelp" [(ngModel)]="user.userName" required placeholder="Enter userName">
          <small id="userNameHelp" class="form-text text-muted">We'll never share your userName with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="loginPasswordInput">Password</label>
          <input type="password" class="form-control" id="loginPasswordInput" name="loginPasswordInput" [(ngModel)]="user.password" required placeholder="Password">
        </div>
        <button type="button" role="button" class="btn btn-primary" (click)="login()">Login</button>
        <a [routerLink]="['/register']">or register for a new account</a>
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
