<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card-body">
      <h4 class="card-title">login to your kodi account</h4>      
      <form>
        <div class="form-group">
          <label for="loginEmailInput">Email address</label>
          <input type="email" class="form-control" id="loginEmailInput" name="loginEmailInput" aria-describedby="emailHelp" [(ngModel)]="user.email" required placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="loginPasswordInput">Password</label>
          <input type="password" class="form-control" id="loginPasswordInput" name="loginPasswordInput" [(ngModel)]="user.password" required placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        <a [routerLink]="['/register']">or register for a new account</a>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
