/* You can add global styles to this file, and also import other style files */
.body,html {  
    height:100%;
    width:100%;
    background-color:#43425D;
    overflow-x:hidden;
  }
  .bg-darkmenu {
    background-color: #43425D;
    color: black;
  }
  .list-group-item {
    background-color: #43425D !important;
    color: #bbb;
  }
  
