<div class="row" style="height: 100vh !important">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card-body">
      <h4 class="card-title">sign up for and keep your downloads to yourself</h4>
      <form>
        <div class="form-group">
          <label for="registrationuserNameInput">Username</label>
          <input type="text" class="form-control" id="registrationuserNameInput" name="registrationuserNameInput" aria-describedby="userNameHelp" [(ngModel)]="user.userName" required placeholder="Enter userName">
          <small id="userNameHelp" class="form-text text-muted">We'll never share your userName with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="registrationPasswordInput">Password</label>
          <input type="password" class="form-control" id="registrationPasswordInput" name="registrationPasswordInput" [(ngModel)]="user.password" required placeholder="Password">
        </div>
        <!--<div class="form-group">
          <label for="registrationPasswordConfirmation">Confirm Password</label>
          <input type="password" class="form-control" id="registrationPasswordConfirmation" placeholder="Password">
        </div>-->
        <button type="submit" class="btn btn-primary" (click)="register()">Register <span *ngIf="IsBusy" class="fa fa-spinner fa-spin"></span></button>
        <a [routerLink]="['/login']">or login to your account</a>
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
