<div class="sidebar-sticky darkBackground" style="min-height: 1024px; margin-top: 2px">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">        
        MY DEVICES
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <span class="fa fa-desktop"></span>
        PC 1
        <span class="sr-only"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <span class="fa fa-laptop"></span>
        PC 2
        <span class="sr-only"></span>
      </a>
    </li>
  </ul>
</div>