<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark sticky-top bg-darkmenu flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">D2D</a>
  <!--<a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="login()" role="button">Login</a>
    </li>
  </ul>
</nav>
<div class='container-fluid h-100' style="min-height:100%">
  <div class="row" style="margin-top:7%">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">      
     <app-download-bar></app-download-bar>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
